#############################
# Maven
#############################
target/

#############################
# NetBeans
#############################
nbproject/private/
build/
dist/

#############################
# IntelliJ
#############################
.idea/
*.iml

#############################
# Eclipse
#############################
.project
.classpath
.settings/

#############################
# VSCode
#############################
.vscode/

#############################
# Logs
#############################
*.log

#############################
# OS Files
#############################
.DS_Store
Thumbs.db

#############################
# Database
#############################
*.db

#############################
# Temporary Files
#############################
*.tmp

#############################
# Compiled Java
#############################
*.class